.item {
  width: calc(33.333% - 48px / 3);
  padding: 21.5px;
  border-radius: 20px;
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(10, 14, 35, 0.71) 91.2%
  );
  backdrop-filter: blur(60px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &Imgbox {
    margin: 0 0 15px;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      max-height: 263px;
      border-radius: 20px;
    }
  }

  &Header {
    position: relative;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 15px;
    margin: 0 0 10px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(
        97.89deg,
        rgba(117, 122, 140, 0) -25.45%,
        #ffffff 70.67%,
        rgba(117, 122, 140, 0) 108.55%
      );
    }

    &Title {
      font-size: 16px;
      font-weight: 700;
      width: calc(70% - 15px / 2);
    }

    &User {
      width: calc(30% - 15px / 2);
      display: flex;
      gap: 5px;
      align-items: center;

      img {
        display: block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        border-radius: 50%;
      }
      span {
        display: block;
        font-size: 14px;
      }
    }
  }

  &Description {
    font-size: 16px;
    margin: 0 0 10px;
  }

  &Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &Reactions {
    display: flex;
    gap: 15px;
    font-size: 14px;

    span {
      padding-left: 10px;
    }
  }

  &Likes,
  &Dislikes {
    display: flex;
    align-items: center;
  }

  &Views {
    font-size: 14px;
    padding-left: 25px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url("/eye.svg");
    }
  }
}
