.chart {
  width: calc(50% - 24px / 2);
  padding: 36px 31px;
  border-radius: 20px;
  box-sizing: border-box;
  background: linear-gradient(
    126.97deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(14, 21, 58, 0.71) 91.2%
  );
  backdrop-filter: blur(60px);
}
