.pagination {
  width: max-content;
  margin: 0 auto;
  display: flex;
  gap: 5px;

  button {
    font-size: 14px;
    padding: 10px;
    outline: none;
    display: block;
    cursor: pointer;
    background: linear-gradient(
      126.97deg,
      rgba(6, 11, 40, 0.74) 28.26%,
      rgba(10, 14, 35, 0.71) 91.2%
    );
    color: #fff;
    border: none;
    border-radius: 7px;
    transition:
      color 0.3s ease-in-out,
      background 0.3s ease-in-out;

    &:hover {
      color: #000;
      background: #fff;
    }

    &.active {
      color: #000;
      background: #fff;
    }
  }
}
